body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    width: 300px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

nav a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}




.container {
    max-width: calc(100% - 300px);
    margin-left: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table thead {
    background-color: #007bff;
    color: #fff;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    display: block;
    width: 200px;
    margin: 20px auto 0;
    text-align: center;
}

form.d-inline {
    display: inline-block;
}